

.widget {
    position: absolute;
    width: fit-content;
    max-width: 450px;
    height: 100px;
    padding: 0px;
    top: 135px;
    right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)
}
.weatherIcon{
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 50%;
}
.weatherImage{
    object-fit: contain;
}
.weatherWidgetBottom{
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}
.weatherInfo {
    width: 70%;
    background: #080705;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border-bottom-left-radius: 8px;
    padding-right: 4px;
}
.temperature{
    width: 10%;
    font-size: 30px;
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weatherCondition{
    text-align: end;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 250;
}

.place{
    font-size: 15px;
}


.date{

    background: #70C1B3;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-bottom-right-radius: 8px;
}


