.page{
    background-color: slategray;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 98;

}
.detail-container {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
}
.detail-title {
    margin-top: 128px;
    font-family: "Source Sans Pro";
    font-size: xx-large;
    font-weight: bold;
    color: black;
    text-align: center;
}
.detail-description {
    font-family: "Source Sans Pro";
    font-size: large;
    font-weight: bold;
    color: black;
    text-align: left;
    padding: 2px 15px;
}

.places-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    width: 70%;
    padding: 4px;
    overflow-y: auto;
    z-index: 90;
}

