
.information-page{
    height: 100vh;
}
.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}
.information-header{
    position: relative;
    text-align: center;
    font-size: xx-large;
    font-family: "Source Sans Pro";
    font-weight: bold;
    color: black;
    margin-bottom: 80px;
    margin-top: 125px;
}