
.nav-bar {
    background-color: rgba(27, 44, 51, 0.5);
    display: flex;
    height: 5em;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    margin-top: 0px;
    top: 0%;
    z-index: 99;
}

.nav-bar.shadow {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.logo {
    font-size: xxx-large;
    font-weight: bold;
    font-family: "Source Sans Pro";
    color: white;

}

.logo-image {
    color: indianred;
    font-size: 4rem;
}

.header-title-group {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    cursor: pointer;
}

.header-buttons-group {
    display: inline-flex;
    margin-right: 5px;
}

.header-explore-input {
    display: inline-flex;
    align-items: center;
}
.input-box {
    display: inline-flex;
    font-family: "Source Sans Pro";
    font-size: medium;
}
.input-label {
    color: white;
    font-size: large;
    font-family: "Source Sans Pro";
    font-weight: bold;
    margin-right: 6px;
    padding-bottom: 4px;
}

.button {
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: large;
    font-weight: bold;
    color: white;
}

.grow:hover {
    transform: scale(1.05);
    transition-property: transform;
    transition-duration: .1s;
}

.title-grow:hover {
    transform: scale(1.02);
    transition-property: transform;
    transition-duration: .1s;
}

