
.park-container-group{
    cursor: pointer;
    position: relative;
    padding: 0px;
    margin-top: 0px;
}

.park-text{
    font-family: "Source Sans Pro";
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 1px;
    padding: 0px;
    color: white;
}

.imageHolder{
    position: relative;
    height: 50vh;
    width: 68vw;
    padding: 4px;
    cursor: pointer;
    z-index: 98;
}

.imageHolder .image {
    justify-content: center;
    width: 50%;
    height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.imageHolder .caption {
    position: absolute;
    top: 15px;
    left: 15px;
    width: fit-content;
    max-width: 360px;
    height: fit-content;
    max-height: 80px;
    background-color: #8D8741;
    opacity: 95%;
    border-radius: 8px;
    text-align: left;
    padding: 4px;
}


.shrink_on_hover{
    transform: perspective(1px) translateZ(0);
    transition-duration: .7s;
    transition-property: transform;
}

.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
    transform: scale(0.97);
}